<mat-toolbar color="primary">
  <span>Classe</span>
</mat-toolbar>
<div mat-dialog-content>
  
  <mat-list>
    <mat-list-item>
      <mat-icon matListIcon>more_horiz</mat-icon>
      <div matLine><strong> Código </strong></div>
      <div matLine class="info"> {{ object.id | mask:'00.00-0' }} </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>more_horiz</mat-icon>
      <div matLine><strong> Descrição </strong></div>
      <div matLine class="info"> {{ object.description }} </div>
    </mat-list-item>
  </mat-list>
</div>