<h1 mat-dialog-title>Formulário de empresa</h1>
<div mat-dialog-content>
  <form [formGroup]="formGroup">
    <div class="img-uploaded" *ngIf="image">
      <button mat-mini-fab color="warn" (click)="deleteImage()">
        <mat-icon>delete</mat-icon>
      </button>
      <img [src]="image.path" alt="">
    </div>
    <ngx-dropzone (change)="takeImage($event)" accept="image/jpeg,image/jpg,image/png" [multiple]="false" class="mb-2" *ngIf="!image">
      <ngx-dropzone-label>Arraste os arquivos aqui ou clique para fazer o upload.</ngx-dropzone-label>
    </ngx-dropzone>

    <app-input label="Nome" [control]="controls.name"></app-input>
    <app-input label="Telefone" [control]="controls.phone" [mask]="{format: '(00) 0000-0000||(00) 00000-0000'}"></app-input>
    <app-input label="CNPJ" [control]="controls.cnpj" [mask]="{format: '00.000.000/0000-00'}" (keyup)="checkId()"></app-input>
    <div class="mb-2">
      <app-input label="Parceiro?" type="toggle" [control]="controls.partner"></app-input>
    </div>
    <app-input label="E-mail" type="email" [control]="controls.email"></app-input>

    <!-- PASSWORD -->
    <div fxLayout="row" fxLayoutGap="20px" *ngIf="!data.id">
      <mat-form-field fxFlex="50">
        <mat-label>Senha</mat-label>
        <input matInput [type]="togglePass ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix type="button" (click)="togglePass = !togglePass">
          <mat-icon>{{ togglePass ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="controls.password.hasError('required')">Senha é <strong>obrigatório!</strong></mat-error>
        <mat-error *ngIf="controls.password.hasError('minlength')">A senha deve conter no mínimo <strong>8 caracteres</strong></mat-error>
        <mat-error *ngIf="controls.password.hasError('pattern')">A senha deve conter <strong>letra, número</strong> e <strong>1 caracter especial</strong></mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <mat-label>Confirme a senha</mat-label>
        <input matInput [type]="togglePass ? 'password' : 'text'" formControlName="confirmPass">
        <button mat-icon-button matSuffix type="button" (click)="togglePass = !togglePass">
          <mat-icon>{{ togglePass ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="controls.confirmPass.hasError('required')">Confirme a senha é <strong>obrigatório!</strong></mat-error>
        <mat-error *ngIf="controls.confirmPass.hasError('passNotSame')">As senhas não <strong>coincidem!</strong></mat-error>
      </mat-form-field>
    </div>
    
    <!-- ADDRESS -->
    <app-input label="CEP" [control]="addressControls.zipcode" [mask]="{format: '00000-000'}" (keyup)="zipcodeChange()"></app-input>

    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="70">
        <app-input label="Rua" [control]="addressControls.street"></app-input>
      </div>
      <div fxFlex="30">
        <app-input label="Número" [control]="addressControls.number"></app-input>
      </div>
    </div>
    
    <app-input label="Bairro" [control]="addressControls.district"></app-input>
    
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="50">
        <app-input label="Estado" type="select" [items]="states" selectId="uf" [control]="addressControls.state" (inputChange)="stateChange()"></app-input>
      </div>
      <div fxFlex="50">
        <app-input label="Cidade" type='select' [items]="cities" selectId="name" [control]="addressControls.city"></app-input>
      </div>
    </div>
    <app-input label="Complemento" [control]="addressControls.complement"></app-input>
  </form>
</div>
<div mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="formGroup.invalid" *ngIf="!submitting" (click)="onSubmit()">Salvar</button>
  <mat-progress-spinner mode="indeterminate" diameter="25" class="ml-2" *ngIf="submitting"></mat-progress-spinner>
</div>